<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body >
    <div th:insert="headerAdmin :: HEADER_ADMIN"></div>
    <div th:insert="saibar :: SAIBAR_ADMIN"></div>

<!--    <div th:if="${content.equals('statistics')}" th:replace="statistics :: STATITIC"></div>-->
    <div th:if="${content.equals('course')}" th:replace="managerCourse :: manager-course"></div>
</body>
</html>
