<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="STATITIC">
    <div class="pt-36 pl-72 pr-8 bg-gray-100">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 h-[610px]">
        <div class="lg:col-span-2 space-y-6 ">
            <!-- PHẦN 1: 3 Ô THỐNG KÊ -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-[1100px] pl-16">
                <!-- Card 1 -->
                <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-5 w-[320px] h-[120px]">
                    <div class="text-xs font-medium text-gray-500 tracking-widest mb-2">TOTAL STUDENT</div>
                    <div class="flex justify-between items-center pt-4">
                        <div class="text-xl font-bold text-gray-900">456</div>
                        <div class="flex items-center gap-1 text-green-500 text-sm font-medium">
                            <span>+36%</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-5 w-[320px] h-[120px]">
                    <div class="text-xs font-medium text-gray-500 tracking-widest mb-2">TOTAL COURSE</div>
                    <div class="flex justify-between items-center pt-4">
                        <div class="text-xl font-bold text-gray-900">56</div>
                        <div class="flex items-center gap-1 text-green-500 text-sm font-medium">
                            <span>+36%</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                            </svg>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-5 w-[320px] h-[120px]">
                    <div class="text-xs font-medium text-gray-500 tracking-widest mb-2">TOTAL ENROLLMENT</div>
                    <div class="flex justify-between items-center">
                        <div class="text-xl font-bold text-gray-900 pt-4">325</div>
                        <div class="flex items-center gap-1 text-green-500 text-sm font-medium">
                            <span>+36%</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PHẦN 2: 2 CỘT SONG SONG -->
            <div class="text-xl font-semibold mb-4">Student statistics by course</div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 w-[1170px] h-[65%]">
                <!-- CỘT TRÁI: Bảng thống kê course -->
                <div class="lg:col-span-2 bg-white rounded-xl p-6 overflow-x-auto">

                    <table class="w-full text-sm text-left text-gray-800 rounded">
                        <thead class="bg-blue-100 text-gray-600">
                        <tr>
                            <th class="px-4 py-2">Course ID</th>
                            <th class="px-4 py-2">Image</th>
                            <th class="px-4 py-2">Course Name</th>
                            <th class="px-4 py-2">Duration</th>
                            <th class="px-4 py-2">Total Student</th>
                        </tr>
                        </thead>
                        <tbody class="divide-y">
                        <tr>
                            <td class="px-4 py-3">C0001</td>
                            <td class="px-4 py-3">
                                <img src="/images/basic_web.jpg" class="w-12 h-16 object-cover rounded" />
                            </td>
                            <td class="px-4 py-3 font-medium">Basic Web Programming</td>
                            <td class="px-4 py-3 font-semibold">220</td>
                            <td class="px-4 py-3 font-semibold">123</td>
                        </tr>
                        <tr>
                            <td class="px-4 py-3">C0002</td>
                            <td class="px-4 py-3">
                                <img src="/images/react.jpg" class="w-12 h-16 object-cover rounded" />
                            </td>
                            <td class="px-4 py-3 font-medium">Frontend Programming with React</td>
                            <td class="px-4 py-3 font-semibold">250</td>
                            <td class="px-4 py-3 font-semibold">95</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- CỘT PHẢI: Top 5 best seller -->
                <div class="bg-white rounded-xl p-6">
                    <h2 class="text-lg font-bold mb-3">Top 5 course best seller</h2>
                    <div class="text-sm font-medium text-gray-300 mb-3">Top  5 courses with the most students</div>
                    <ul class="space-y-4">
                        <li class="flex items-center space-x-4">
                            <img src="/images/react.jpg" class="w-12 h-12 rounded object-cover" />
                            <div>
                                <p class="font-semibold text-gray-800">Frontend Programming with React</p>
                                <p class="text-sm text-gray-500">Enrollment: 95</p>
                            </div>
                        </li>
                        <li class="flex items-center space-x-4">
                            <img src="/images/basic_web.jpg" class="w-12 h-12 rounded object-cover" />
                            <div>
                                <p class="font-semibold text-gray-800">Basic Web Programming</p>
                                <p class="text-sm text-gray-500">Enrollment: 123</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>