<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="STATITIC">
    <div class="pt-36 pl-72 pr-8 bg-gray-100 h-[770px]">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <div class="lg:col-span-2 space-y-6 ">

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-[1100px] pl-16">

                <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-5 w-[320px] h-[120px]">
                    <div class="text-xs font-medium text-gray-500 tracking-widest mb-2">TOTAL STUDENT</div>
                    <div class="flex justify-between items-center pt-4">
                        <div class="text-xl font-bold text-gray-900" th:text="${totalStudent}"></div>
                        <div class="flex items-center gap-1 text-green-500 text-sm font-medium">
                            <span>+36%</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                            </svg>
                        </div>
                    </div>
                </div>


                <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-5 w-[320px] h-[120px]">
                    <div class="text-xs font-medium text-gray-500 tracking-widest mb-2">TOTAL COURSE</div>
                    <div class="flex justify-between items-center pt-4">
                        <div class="text-xl font-bold text-gray-900" th:text="${totalCourse}"></div>
                        <div class="flex items-center gap-1 text-green-500 text-sm font-medium">
                            <span>+36%</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                            </svg>
                        </div>
                    </div>
                </div>


                <div class="bg-white border border-gray-200 rounded-lg shadow-sm p-5 w-[320px] h-[120px]">
                    <div class="text-xs font-medium text-gray-500 tracking-widest mb-2">TOTAL ENROLLMENT</div>
                    <div class="flex justify-between items-center">
                        <div class="text-xl font-bold text-gray-900 pt-4" th:text="${totalEnrollment}">325</div>
                        <div class="flex items-center gap-1 text-green-500 text-sm font-medium">
                            <span>+36%</span>
                            <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M5 10l7-7m0 0l7 7m-7-7v18"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text-xl font-semibold mb-4">Student statistics by course</div>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 w-[1170px] h-[70%]">

                <div class="lg:col-span-2 bg-white rounded-xl p-6 overflow-x-auto max-h-[400px]">

                    <table class="w-full text-sm text-left text-gray-800 rounded">
                        <thead class="bg-blue-100 text-gray-600">
                        <tr>
                            <th class="px-4 py-2">Course ID</th>
                            <th class="px-4 py-2">Image</th>
                            <th class="px-4 py-2">Course Name</th>
                            <th class="px-4 py-2">Duration</th>
                            <th class="px-4 py-2">Total Student</th>
                        </tr>
                        </thead>
                        <tbody class="divide-y">
                        <tr th:each="course, loop : ${courseStatistic}">
                            <td class="px-4 py-3" th:text="${course.id}"></td>
                            <td class="px-4 py-3">
                                <img th:src="${course.image}" alt="" class="w-12 h-12 object-cover rounded" />
                            </td>
                            <td class="px-4 py-3 font-medium" th:text="${course.name}"></td>
                            <td class="px-4 py-3 font-semibold" th:text="${course.duration}"></td>
                            <td class="px-4 py-3 font-semibold" th:text="${course.totalStudents}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="bg-white rounded-xl px-6 pt-2 shadow max-w-md">
                    <h2 class="text-xl font-semibold mb-1">Top 5 course best seller</h2>
                    <p class="text-sm text-gray-500 mb-4">Top 5 courses with the most students</p>
                    <ul class="space-y-4">
                        <li class="flex items-center justify-between" th:each="course, loop :${courseTop}">
                            <div class="flex items-center space-x-3">
                                <img th:src="${course.image}" alt="" class="w-12 h-12 rounded object-cover" />
                                <span class="text-gray-800 font-medium text-sm" th:text="${course.name}"></span>
                            </div>
                            <div class="text-right">
                                <p class="text-sm font-semibold text-gray-800" th:text="${course.totalStudents}"></p>
                                <p class="text-xs text-gray-500">Student</p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>